.grid {
    display: flex;
    gap: 1 rem;
    height: 500px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.turn-highlight {
    color: white;
    
}

.reset {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--resetGreen); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.reset:hover {
    background-color: #218838; 
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reset:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Blue focus outline */
  }